{% extends "chat/base.html" %}
{% block content %}
<article class="page">
  <h1>About</h1>
  <p>
    This is a simple real-time chat application built with Django and HTMX. While it provides basic messaging functionality, it is not intended to be a full-featured chat platform.
  </p>
  <p>
    Messages cannot be edited or deleted, and private chats are not supported. Additionally, new user registration is not yet available. To create an account, you must use the Django admin interface or the Django shell.
  </p>
  <p>
    This project was developed by <a href="https://halves.dev">Humberto Alves</a> as part of a hiring process to demonstrate how to build a real-time chat application with Django and HTMX.
  </p>
  <p>
    <a href="{% url 'login' %}">Log in</a> and start chatting! 🚀
  </p>
</article>

{% endblock %}
