<aside>
  <nav>
    <ul>
      <li class="title">JBL Chat</li>
      <li><a href="#">About</a></li>
      <li><a href="#">API</a></li>
      {% if user.is_authenticated %}  <!-- We assume the user has a profile -->
      <li><a href="{% url 'logout' %}">Logout</a> ({{ user.username }})</li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </nav>
  {% if chat_profiles %}
  <nav>
    <ul>
      <li class="title">Chats</li>
      {% for profile in chat_profiles %}
      <li><a href="{% url 'chat:chat' profile.nickname %}">{{ profile.nickname }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</aside>
