<aside>
  <nav>
    <ul>
      <li class="title"><a href="{% url 'chat:index' %}">JBL Chat</a></li>
      <li><a href="{% url 'chat:about' %}">About</a></li>
      <li><a href="{% url 'chat:api' %}">API</a></li>
      {% if user.is_authenticated %}  <!-- We assume the user has a profile -->
      <li><a href="{% url 'logout' %}">Logout</a> ({{ user.username }})</li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </nav>
  {% if available_chats %}
  <nav>
    <ul>
      <li class="title">Chats</li>
      {% for profile in available_chats %}
      <li><a href="{% url 'chat:chat' profile.username %}">{{ profile.username }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</aside>
