<section id="messages" hx-get="{% url 'chat:chat' profile.nickname %}" hx-trigger="every 3s" hx-swap="outerHTML">
  {% for message in messages %}
  <article class="message {% if message.unread %}unread{% endif %}" id="message-{{ message.id }}">
    <div class="message-header">
      <a class="author" href="#">{{message.sender.full_name}} @{{ message.sender }}</a>
      <a class="timestamp">{{ message.timestamp }}</a>
    </div>
    <div class="message-body">
      {{ message.content }}
    </div>
  </article>
  {% endfor %}
</section>
