{% extends "chat/base.html" %}
{% block content %}
    <article class="page">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec est id libero hendrerit laoreet. Integer
        viverra augue a justo tristique euismod. Aenean gravida massa eu arcu pretium, vehicula facilisis nulla dictum.
        Morbi eu justo eleifend, mollis ante eget, volutpat leo. Curabitur nunc leo, tempus sit amet arcu in, sagittis
        placerat nibh. Mauris ac lacinia ipsum. Etiam consectetur augue eget ante aliquet, et sodales ligula suscipit.
        Duis sit amet fringilla elit. Ut a feugiat nisi. Morbi quis nulla lacus. Nunc blandit at massa et aliquet.
        Mauris ullamcorper et leo eu vestibulum. Aliquam aliquet pharetra sodales.
    </p>
    <p>
        In non rutrum orci. Curabitur mattis tortor non tellus porttitor, et tristique nunc porta. Maecenas quis massa
        aliquam, semper mi aliquam, molestie dolor. Suspendisse mi augue, ultricies eget vulputate nec, vestibulum
        fermentum mi. Vivamus bibendum ante quis metus blandit, id elementum erat blandit. Quisque laoreet ex sapien, eu
        dignissim arcu semper a. Maecenas sed rutrum sem, vitae fermentum leo. Suspendisse aliquet quam mauris, et
        convallis neque bibendum in. Integer non lorem nibh. Cras egestas felis urna, non eleifend purus molestie sit
        amet. Nulla aliquam gravida justo ut gravida.
    </p>
    <p>
        Aenean sed pulvinar magna, a condimentum turpis. Ut gravida feugiat ex ut luctus. Nulla facilisi. Vestibulum sed
        quam eget odio pharetra feugiat quis quis augue. Nulla eleifend ultricies nisl at commodo. Sed tristique augue
        et ligula blandit, et bibendum dolor vestibulum. Donec tincidunt consequat viverra. Pellentesque nec interdum
        odio. Ut elementum ante arcu, vel tincidunt dolor ullamcorper a. Vivamus ex nunc, scelerisque vitae ligula in,
        elementum placerat nulla. Pellentesque vehicula porta urna, eu efficitur sem rutrum ut. Curabitur orci sem,
        dignissim ultrices leo nec, vehicula ornare justo. Nulla fermentum congue urna a facilisis. Nam in bibendum ex,
        id vehicula nibh. Nunc sem magna, dictum vitae pellentesque ac, pulvinar vel diam.
    </p>
    <p>
        Suspendisse tristique tellus et orci rutrum, ut dictum ante faucibus. Vestibulum tincidunt convallis molestie.
        Nullam ultrices lorem libero, at lacinia magna fermentum vel. Proin ut justo non massa porta aliquet lobortis ac
        tortor. Cras consequat magna et placerat mattis. Ut diam neque, rhoncus eu gravida ut, pharetra fermentum
        sapien. Curabitur lacinia neque at erat elementum eleifend.
    </p>
    <p>
        Vivamus suscipit in enim sit amet cursus. Nullam euismod a ante ac hendrerit. Nam tellus risus, consequat nec
        mattis et, finibus a eros. Aliquam ullamcorper enim tincidunt nibh consequat aliquam. Cras porta iaculis luctus.
        Quisque a malesuada purus, quis pretium lorem. Curabitur et turpis urna. Etiam vel nisi in enim euismod molestie
        sit amet vel sem. Donec at enim at risus porta bibendum non in nibh. Cras eget sem sed quam consequat cursus.
        Sed commodo tellus quis diam dictum vehicula sed id mauris. Pellentesque tempus tellus mattis commodo auctor.
        Donec massa est, pharetra nec sapien eget, faucibus elementum leo. Fusce porttitor convallis justo in pulvinar.
        In accumsan posuere diam, a dapibus leo venenatis ac.
    </p>
    </article>
{% endblock %}
