{% extends "chat/base.html" %}
{% load static %}

{% block extrastyle %}
<link href="{% static 'chat/css/login.css' %}" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="login">
  <div class="login-header">
    <span class="title">Authentication required</span>
  </div>
  <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    <div class="login-body">
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-row">
        {{ form.password.errors }}
        {{ form.password.label_tag }} {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}">
      </div>
      <div class="submit-row">
        <input type="submit" value="Log in">
      </div>
    </div>
  </form>
  <div class="login-footer">
    <span class="footer-text">Don't have an account? <a href="#">Register</a></span>
  </div>
</div>
{% endblock %}
